Source: portabase
Section: database
Priority: optional
Maintainer: Jeremy Bowman <jmbowman@alum.mit.edu>
Build-Depends: debhelper (>= 9), autotools-dev, python-sphinx (>= 1.0.7+dfsg) | python3-sphinx, python-sphinx-rtd-theme | python3-sphinx-rtd-theme, qtbase5-dev, qttools5-dev-tools
Standards-Version: 3.9.3
Vcs-Git: git://github.com/jmbowman/portabase.git
Vcs-Browser: https://github.com/jmbowman/portabase
Homepage: http://www.portabase.org

Package: portabase
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${sphinxdoc:Depends}
Description: An easy-to-use personal database application
 PortaBase is a program for conveniently managing one-table database files.
 It can be used as a shopping list, password manager, media inventory,
 financial tracker, TODO list, address book, photo album, and more. It is
 available for many platforms, including Android, Linux, macOS, Windows,
 and Maemo. Features include:
 .
  * String, Integer, Decimal, Boolean, Note (multi-line text), Date, Time,
    Calculation, Sequence, Image, and Enum column types;
  * custom data views (subsets of the columns in any order);
  * filter the displayed rows using sets of conditions;
  * sort the rows by any combination of columns, each in ascending or
    descending order;
  * add, delete, rearrange, and rename columns at any time;
  * view summary statistics for columns (total, average, min, max, etc.);
  * import data from CSV, XML, and MobileDB files;
  * export data to CSV, HTML, and XML files;
  * command-line format conversions (to and from XML, from MobileDB,
    to HTML);
  * optional data file encryption.
