#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_clean:
    dh_clean
	rm resources/translations/*.qm

override_dh_auto_build:
	lrelease portabase.pro
	lrelease resources/translations/qt*.ts
	dh_auto_build
