#!/usr/bin/make -f
# -*- makefile -*-

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PACKAGE := portabase
export QT_SELECT := qt5

%:
	dh $@ --with sphinxdoc

override_dh_auto_clean:
	$(MAKE) -C metakit/builds distclean || $(RM) metakit/builds/*
	$(RM) -r build/mk4* resources/translations/*.qm resources/help/_build

	dh_auto_clean

override_dh_auto_configure:
	chmod -R a-x+X metakit/ resources/ \
	&& chmod +x metakit/unix/configure
	cd metakit/builds && ../unix/configure --enable-threads --disable-shared

	## rebuild translations
	lrelease portabase.pro
	lrelease resources/translations/qt*.ts

	dh_auto_configure

override_dh_auto_build:
	## build metakit
	cd metakit/builds && $(MAKE)
	mkdir -p build \
	&& cp metakit/include/mk4.h metakit/include/mk4.inl \
	        metakit/include/mk4str.h metakit/include/mk4str.inl \
	        build/
	## build help files for each language in a separate directory
	for lang in en cs fr it ja zh_TW; do\
	    packaging/generate_help.sh --no-clean "$$lang" ;\
	    mv resources/help/_build/html resources/help/_build/$$lang ;\
	done

	dh_auto_build

override_dh_sphinxdoc:
	for lang in en cs fr it ja zh_TW; do \
	    dh_sphinxdoc -v usr/share/$(PACKAGE)/help/$$lang ;\
	done

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_builddeb:
	dh_builddeb -- -Zxz
