Package: portabase
Priority: optional
Section: Applications
Version: 1.3
Architecture: arm
Maintainer: Jeremy Bowman <jmbowman@alum.mit.edu>
Depends: qpe-base, libmetakit1
Description: A portable database
 A simple database for personal use.