Package: portabase
Priority: optional
Section: Applications
Version: 1.9
Architecture: arm
Maintainer: Jeremy Bowman <jmbowman@alum.mit.edu>
Depends: qpe-base
Description: A portable database
 A simple database for personal use.
